@import url('http://fonts.googleapis.com/css?family=Michroma|Audiowide');

div { 
        image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/* This HTML tag applied background*/
#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

HTML
{   
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-family: 'Michroma', sans-serif;
  color: #000000;
}

h2 {
  font-family: 'Michroma', sans-serif;
  color: #000000;
}

h3 {
  font-family: 'Audiowide', sans-serif;
  font-size: 400%;
  font-weight: lighter;
  color: #000000;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -10px;
  text-decoration: none;
}

P {
  display:block;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

/*
 * Creates a really nice paragraph wrapped
 * with smooth border application.
 */
.Board 
{
    font-family: Roboto Condensed, sans-serif;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 25px;
    max-width: 850px;
    margin: 50px calc(50% - 425px);
    text-align-last:center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    background-color: rgba(0,0,0, 0.5);
}

.Board a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.Board a:hover {
    color: lightgrey;
}


.MiniBoard
{
    display: inline-block;
    font-family: Michroma, sans-serif;
    font-size: 20px;
    padding: 15px;
    width:20%;
    height:20%;
    margin: 50px;
    text-align-last:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 200ms linear;
   -moz-transition: background-color 200ms linear;
   -o-transition: background-color 200ms linear;
   -ms-transition: background-color 200ms linear;
   transition: background-color 200ms linear;
}

.MiniBoard h3{
    text-decoration: none;
    font-family: Audiowide, sans-serif;
    font-size: 24px;
    color: #000000;
}

.MiniBoard img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:3px solid rgb(0,0,0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    width: 90%;
    height: auto;
}

.MiniBoard:hover {
   background-color: rgba(0,0,0,0.7);;
   -webkit-transition: background-color 200ms linear;
   -moz-transition: background-color 200ms linear;
   -o-transition: background-color 200ms linear;
   -ms-transition: background-color 200ms linear;
   transition: background-color 200ms linear;
}

.MiniBoard:hover img {
    border:3px solid rgb(0,0,0);
}

/* Index.html content */

.ProjImgPreview
{
    border:3px solid black;
    border-radius: 5px;
    margin:10px;
    width:40%;
    height:auto;
}

.ThumbNails
{
    width:25%;
    height:auto;
    border:5px solid black;
    border-radius: 5px;
}

.IconProperties
{
  max-width:32px;
  max-height:32px;
  margin-left:auto;
  margin-right:auto;
  text-decoration: none;
}

#Portrait
{
    float:right;
    margin-left:15px;
    margin-bottom:5px;
}

#SplashScreen00
{
    float:left;
    margin-right:15px;
    margin-top:15px;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

/* Individual shader info*/

.ShaderBoard 
{
    font-family: Roboto Condensed, sans-serif;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    width: 78%;
    text-align-last:center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    background-color: rgba(0,0,0, 0.5);
}

.ShaderBoard h3{
    margin-top:400px;
}
.ShaderBoard img{
    width:95%;
    height:auto;
    margin-top:10px;
    margin-bottom:50px;
    border:3px solid black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }

.ShaderSubBoard {
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    font-family: Roboto Condensed, sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    width:90%;
    height:auto;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.75);
}

iframe {
    border:none;
    width:95%;
    height:500px;
    opacity:0.8;
}

/* Rainbow colours
#FF0000 - BvB
#FF8000 - TinyTanks
#FFFF00 - BitWise
#80FF00 - AI
#00FF00
#00FF80
#00FFFF
#0080FF
#0000FF
#8000FF
#FF00FF
#FF0080	*/
